# Secrets
**/application.properties
!**/application.properties.template
**/config.json

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc
.pytest_cache/

# Node
node_modules/

# Maven
target/
*.jar

# Docker
docker-data/
